.profile-settings {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 93%;  
}

.dark-theme .profile-settings{
    background-color: #1b1b1b;
}

.profile-settings:hover{
    box-shadow: 4px 4px 30px rgb(221, 221, 230);
}

.dark-theme .profile-settings:hover{
    box-shadow: 4px 4px 30px rgb(39, 39, 39);
}

.profile-settings h3 {
    font-size: 20px;
    margin-bottom:  14px;
    color: #1e2022;
    margin-top: 4%;
}


.dark-theme  .profile-settings h3{
    color: #fdfeff;
}

.profile-picture {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    justify-content:space-between
}

.profile-picture img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.profile-picture-option{
    display: flex;
    flex-direction: column;
}

.profile-picture button:hover {
    background-color: #4f46e5;
}

.Profile-name, .About-me {
    font-size: 14px;
    margin-bottom: 5px;
    color: #1e2022;
}

.dark-theme .Profile-name,.About-me{
    color: #fff;
}

.profile-settings .profile-settings-input{
    outline: 4px;
    font-size: 12px;
    margin: 12px;
    padding: 12px;
}

.dark-theme .profile-settings-input{
   background: #1e2022;
   color: #fff;
   outline: none;
   border: none;
}



 .profile-settings-textarea {
    height: 140px;
    resize: none;
}

.dark-theme .profile-settings-textarea{
    background: #1e2022;
    color: #fff;
}

.save-changes-button{
    margin: 4px;
    background-color: #6366f1;
    color: #fff;
    align-self: flex-end;
    border: none;
    
}

.profile-settings .save-changes-button.save-changes {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #6366f1;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}


 .save-changes-button:hover {
    background-color: #3d3986;
    color: #ffffff;
    border: none;
 }


.profile-picture-selector {
    display: flex;
    margin-top: 10px;
}

.profile-picture-selector img {
    cursor: pointer;
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}